*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.HomeContainer , .box , .result{
  width: 100vw;
  height: 100vh;
  background-color: #473a8d;
  flex-direction: column;
}

.box , .result{
  height: 80vh;
}

.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeContaine h2{
  color: white;
  margin-bottom: 20px;
}

.MainContainer button{
  width: 220px;
  background-color: #0ab306;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid gray; 
  border-left: 3px solid gray; 
  border-radius: 60px;
  color: white;
  outline: none;
}

.Quiz-container{
  text-align: center;
  /* width: 80%; */
  background-color: white;
  padding: 50px 40px 30px;
  border-left: 4px solid #8686f3;
}

.questionNumber{
  text-align: left;
  margin: 35px 0px;
}

.optionsDiv{
  margin: 50px 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:20px;  
}

.option{
  background-color: #1ea1f1;
  color: white;
  width: 500px;
  padding: 20px;
  border-radius: 60px;
}

.btncont{
  padding: 10px 15px;
  border-radius: 0px;
}

.quit{
  background-color: #ff0000;
}

.next{
  margin: 0px 30px;
  background-color: #008001;
}

.prev{
  background-color: #3e7eaa;
}

.result-Div{
  background-color: white;
  width: fit-content;
  text-align: center;
  padding: 30px 0px;
  border-left: 4px solid #8686f3;
}

.lastOption{
  width: 800px;
  justify-content: space-between;
  padding: 0px 30px;
  margin-top: 20px;
}

.buttons{
  margin-top: 30px;
}

.buttons button{
  border-radius: 0px;
  margin-right: 20px;
}

.playagain{
  color: blue;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 4px solid blue; 
  border-left: 4px solid blue; 
}

.backtohome{
  color: green;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 4px solid green; 
  border-left: 4px solid green; 
}